.title {
    font-size: 1.3rem;
    font-weight: 600;
    color: #1c2b38;
    margin-bottom:40px;
    margin-top:unset;
  }
  
  .rightSidebar button {
    padding: 8px 12px;
    background-color: #2a93d5;
    border: none;
    color: white;
    font-size: 0.95rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  .rightSidebar button:hover {
    background-color: #237bb0;
  }
  
  .rightSidebar h4{
      font-size: 1rem;
      color: #555;
      margin-bottom:15px;
  }
  
  .courseActions .archiveBtn,
  .rightSidebar .archiveBtn {
    background-color: #f2f2f2;
    color: #2a3c4a;
  }
  
  .courseActions .archiveBtn:hover,
  .rightSidebar.archiveBtn:hover {
    background-color: #d1d1d1;
  }
  /* Sidebar */
  .rightSidebar {
    width: 260px;
    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    z-index: 100;
  }
  
  .sidebarHeader {
       display: flex;
      margin-bottom: 1.2rem;
      padding-bottom: 0.75rem;
      border-bottom: 1px solid #ccc;
      flex-direction: column;
      gap: 5px;
  }
  
  .sidebarHeader h4 {
    font-size: 1.1rem;
    color: #333;
    font-weight: 600;
  }
  
  .tocList {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  
  .tocList li a {
    color: #2a93d5;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
  }
  
  .tocList li a:hover {
    color: #207bb0;
  }
  
  .sidebarSeparator {
    margin: 1.5rem 0;
    border-top: 1px solid #ddd;
  }
  
  .sidebarPagination {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
  }
  