
/* Hero Section */
.hero {
    background: linear-gradient(to right, #2a93d5, #3b9ab7);
    color: white;
}

.heroContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    padding: 10px;
    flex-wrap: wrap; /* makes it responsive */
}

.heroText {
    flex: 1;
    min-width: 60%;
}

.heroText h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.heroText p {
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.ctaButton {
    background-color: #f07b36;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.ctaButton:hover {
    background-color: #f05a16;
}

.heroImage {
    flex: 1;
    min-width: 280px;
    text-align: center;
}

.heroImage img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}