.onboardingPage {
  background: linear-gradient(to bottom right, #dfefff, #fef6ff);
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh;
  padding: 60px 20px;
}

.progressWrapper {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.progressBar {
  display: flex;
  align-items: center;
  gap: 10px;
}
a {
  all: unset;         /* removes ALL browser default styles */
  cursor: pointer;    /* re-add pointer since all: unset removes it */
}
.step {
  background-color: #2a93d5;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.9rem;
}


.bar {
  height: 4px;
  width: 40px;
  background-color: #2a93d5;
}

.stepActive ~ * {
  background-color: #ccc;
}

.onboardingForm {
  display: flex;
  flex-direction: column;
}

.onboardingForm h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: #1c2b38;
}

.subtext {
  text-align: center;
  margin-bottom: 30px;
  color: #555;
  font-size: 0.95rem;
}


.formArea {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.robotHead {
  max-height: 400px;
}

.barActive {
  background-color: #2a93d5;
}

.onboardingForm textarea {
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  padding: 12px;
  width: 95%;
}


