 .navbar {
   background-color: #1c2b38;
   padding: 5px 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   position: relative;
 }

 .navbarIcons {
   display: flex;
   gap: 30px;
 }

 .navbarIcons .icon {
   font-size: 1.4rem;
   color: #2a93d5;
   cursor: pointer;
 }

 .navbar .logo img {
   height: 3.5rem;
 }

 .userDropdown {
  background-color: #1c2b38;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   min-width: 150px;
   z-index: 150;
   max-width: 10%;
   transform: translateY(80%);
   position: absolute;
   align-self: end;
 }

 .dropdownItem {
   display: flex;
   align-items: center;
   gap: 8px;
   padding: 13px 15px;
   border: none;
   background: none;
   cursor: pointer;
   font-size: 0.95rem;
   color: #f2f2f2;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
 }

 .dropdownItem:hover {
   background-color: #f2f2f2;
   color: #2a93d5;
 }